*{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lista{
    display: inline-block;
    background-color:darkslategrey;
    padding: 15px;
    border-radius: 10px;
}
.titulo{
    color: whitesmoke;
}
li{
    color:darkblue;
}