*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padre{
    width: 100vw;
    /* height: 100vh;  MIENTRAS PODAMOS, TRATAR DE EVITAR PONER ALTOS*/
    background-color: rgb(14, 14, 107);
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center; 
    gap: 30px;
    padding: 20px;
}
.hijo{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    max-width: 500px;
}
/* UTILIZAMOS PORCENTAJE PARA EL RESPONSIVE  */

@media screen and (min-width:800px) {
    .padre{
        flex-direction: row;
    }
    .hijo{
        background-color: rebeccapurple;
    }
}
@media screen and (min-width:900px) {
    .padre{
        flex-direction: row;
    }
}